* {
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

label {
    margin: 16px 32px;
}

button {
    margin: 0 32px;
}

input, select {
    display: block;
    margin: 16px 0;
}